<%- include header %>
<form method="post">
	<h3>标题：</h3>
	<input type="text" name="title" class="form-control"/>
	<h3>正文：</h3>
	<textarea name="post" rows="20" cols="100" class="form-control"></textarea>
	<button type="submit" class='btn btn-primary col-sm-offset-11' style='margin-top:10px;margin-left:90.5%'/>发表</button>
</form>
<%- include footer %>